* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/fundo.png);
    background-size:auto 300vh;
    font-family:'Ubuntu',sans-serif;
    height: 100vh;
    font-size: 12px;
} 

/* Caso a tela tiver no mínimo 400px */
@media (min-width: 400px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
   display: flex; 
   justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: #e66c00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color:whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;

}

.contato,
.portfolio {
    padding: 2em;
    height: 100vh;
}

.contato h2,
.portfolio h2 {
    color: black;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.portfolio figure {
    text-align: center;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
        justify-content: center;
    }

}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(2,240px);
        justify-content: center;
        align-content: center;
        height: calc(100vh - 8em - 48px);
    }
}

@media (min-width: 1200px) {
    .img-portfolio {
        height: auto;
        width: 100%;
    }
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

.img-portfolio {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.contato .icons {
    text-align: center;
}

.contato a {
    color: black;
    font-size: 4em;
}

.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255,255,255,1); 
}