* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/fundo.png);
    background-size:auto 500vh;
    font-family:'Ubuntu',sans-serif;
    height: 100vh;
    font-size: 12px;
} 

/* Caso a tela tiver no mínimo 400px */
@media (min-width: 300px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}


.menu ul {
   display: flex; 
   justify-content: space-around;
   align-items: center;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 10px;
}

.switch__container {
    margin: auto;
    width: auto;
  }
  
.switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
}

.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--flat + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #000000;
    border-radius: 30px;
    transition: background 0.4s;
}

.switch--flat + label:before,
.switch--flat + label:after {
    display: block;
    position: absolute;
    content: "";
}

.switch--flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    transition: margin 0.4s, background 0.4s;
}

.switch--flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 24px;
    background-color: #fffdfd;
    border-radius: 30px;
    transition: margin 0.4s, background 0.4s;
}

.switch--flat:checked + label {
    background-color: rgb(0, 0, 0);
}

.switch--flat:checked + label::before {
    background-color: #ffffff;
}

.switch--flat:checked + label:after {
    margin-left: 27px;
    background-color: #000000;
}

.switch__container a,
a {
    color: #e66c00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: .4;

    animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.site-subtitle,
.site-title {
    color:whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;
}

.contato,
.sobre,
.portfolio {
    padding: 2em;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    .sobre,
    .contato,
    .portfolio,
    .switch--flat {
        max-width: 1200px;
    }
}

.sobre h2,
.contato h2,
.portfolio h2 {
    color: black;
    margin-top: 1em;
    margin-bottom: 1.2em;
}

.sobre p {
    color: black;
    margin-bottom: 1.2em;
    text-indent: 1em;
    text-align: center;
}

.sobre a {
    color: black;
    font-style: italic;
    text-decoration: underline;
}

.sobre a:hover{
    background-color:coral;
    text-decoration: none;
}

.portfolio figure {
    text-align: center;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
        justify-content: center;
    }

}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(2,240px);
        justify-content: center;
        align-content: center;
        height: calc(100vh - 8em - 48px);
    }
}

@media (min-width: 1200px) {
    .img-portfolio {
        height: auto;
        width: 100%;
    }
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

.img-portfolio {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    transition: transform 500ms;
}

.img-portfolio:hover {
    transform: scale(1.2);
}

.contato .icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 80px;
}

.contato a {
    color: black;
    font-size: 4em;
}

.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255,255,255,1); 
}

.footer {
    margin-bottom: .8em;
    font-family: 'Ubuntu', monospace;
    font-weight: 300;
    font-size: 0.7em;
    text-align: center;
}